<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vigneshpranav.pamun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/pamun_launcher_icon"
        android:label="PAMUN 2018"
        android:roundIcon="@mipmap/pamun_launcher_icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreenActivity"
            android:configChanges="orientation"
            android:label="PAMUN 2018"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Theme_Issues_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConferenceScheduleActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".ExecTeamActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".GoodClauseActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".RelevantCountryInfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ResearchReportActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".CountryListsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>